<html>
    <head>
        <title>histoslide example</title>
    </head>
    <body>
        <div id="header"><h1>histoslide example</h1></div>
        <div id="content"><div id="slidepane"></div></div>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/histoslide/js/openseadragon.min.js"></script>
    <script type="text/javascript" src="/static/histoslide/js/openseadragon-scalebar.js"></script>
    <script type="text/javascript" src="/static/histoslide/js/openseadragon_helper.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        open_slide("/histoslide/1.dzi");

        // CSS doesn't provide a good way to specify a div of height
        // (100% - height(header))
        $(window).resize(function() {
            $('#content').height($(window).height() -
                        $('#header').outerHeight() - 40);
        }).resize();

    });

    </script>

</html>